{
  "plugins": [
    "babel-plugin-polished",
    [
      "@styled-system/babel-plugin",
      {
        "breakpoints": ["40em", "52em", "64em", "80em"]
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ],
    "@emotion/babel-preset-css-prop"
  ]
}
