{
  "plugins": ["polished"],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ],
    "@xstyled/babel-preset-emotion-css-prop"
  ]
}
