div#call-to-action-div {
  display: flex;
  align-items: center;
}
.dropdown-menu {
  max-height: 300px;
  overflow: hidden scroll;
}
.call-to-actions .call-to-action-inner .actions {
  display: none !important;
}
.call-to-actions .call-to-action-inner,
.actions-wrapper {
  width: 10% !important;
}
.btn-default {
  color: #fff !important;
  background-color: #212a38 !important;
}
a {
  color: #212a38 !important;
}
.navbar {
  border: none;
}
.nav.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar-default {
  color: #212a38 !important;
  border-color: transparent !important;
  background-color: #fff !important;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #212a38 !important;
  background-color: #fff !important;
}
header.navbar .top-level-nav ul.navbar-nav li a {
  font-family: serif !important;
  font-size: 1.7rem;
}
.sidebar-search .panel-group {
  border: 1px solid #eaecef !important;
}
.sidebar-search .panel-group .panel.panel-default {
  background-color: #fcfcfc !important;
}
#footer {
  display: none !important;
}
.property-list.luxury .property-tile:hover {
  border-color: #212a38 !important;
}
.property-list.luxury .property-tile:hover .property-headline .price {
  border-bottom-color: #212a38 !important;
}
.property-list.luxury .property-tile:hover::after {
  border-top-color: #212a38 !important;
}
.pagination>.active > a,
.pagination>.active > span,
.pagination>.active > a:hover,
.pagination>.active > span:hover,
.pagination>.active > a:focus,
.pagination>.active > span:focus {
  color: #fff !important;
  border-color: #212a38 !important;
  background-color: #212a38 !important;
}
.pagination>li > a,
.pagination>li > span {
  color: #212a38 !important;
}
.my-footer {
  background-color: #212020 !important;
  padding: 4.8rem 9.6rem;
}
.css-iftjh7 {
  background-color: rgba(255,255,255,0.2) !important;
  height: 1px;
  width: 100%;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}
.css-1buokca {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 25%;
  flex: 0 0 25%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100%;
  display: flex;
}
.css-19d5ipa {
  color: #fff !important;
  background-color: #212020 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4.8rem 9.6rem;
}
.css-1yvyndl {
  color: #fff !important;
  font-size: 14px;
  text-transform: capitalize;
  opacity: 0.4;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-property: opacity;
}
.css-igzj34 a {
  opacity: 0.5;
  color: #fff !important;
  width: 1.5em;
  margin-right: 1.2rem;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-property: opacity;
}
.css-igzj34 a {
  opacity: 0.5;
  color: #fff !important;
  width: 1.5em;
  margin-right: 1.2rem;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.css-igzj34 a svg.sc-bdVaJa.iJCmgd {
  opacity: 0.5;
  color: #fff !important;
  width: 1.5em !important;
  margin-right: 1.2rem;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.css-1rs6kqg {
  width: 100%;
  display: flex;
}
.css-iftjh7 {
  border-color: rgba(255,255,255,0.2);
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}
.css-1s72sdz {
  display: flex;
  margin-right: auto;
}
.footerList___StyledUl-g1pxob-0 {
  list-style: none;
}
.css-igzj34 {
  display: flex;
  margin-left: auto;
  margin-top: 1em;
}
.panel-group {
  overlfow: scroll;
  max-height: 50vh;
}
